body {
  font-family: Inter;
  background: #F3F5FC;
}

.wrapper{
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F3F5FC;
}

.logo-container{
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 9999;
}

.containerC{
  display: flex;
  width: 97%;
  height: 97%;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  width: 97%;
  height: 97%;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrapper{
    min-height: 100VH;
    height: 100%;
  }

  .container{
    flex-direction: column;
  }
}

@media screen and (max-width: 430px) {
  .logo-container{
    top: 10px;
    left: -20px;
  }
}

.boton{
  border: 1px #0A3871 solid;
  color: #0A3871;
  background-color: #D8DFE8;
  cursor: pointer;
  border-radius: 24px;
  padding: 2.5% 10%;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.btnE{
  color: #FFF;
  background-color: #0A3871;
}

.btnC{
  background: none;
}

/* Encriptador */

.encriptador{
  display: flex;
  padding-left: 5%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.encriptador-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 30px;
}

.encriptador-input textarea{
  font-family: inter;
  text-transform: lowercase;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  padding: 0;
  width: 100%;
  height: 80%;
  background: none;
  border: none;
  resize: none;
}

.encriptador-input textarea::placeholder{
  color: #0A3871;
}

textarea:focus-visible{
  outline: none;
}

.encriptador-abajo{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.encriptador-abajo_alert{
  display: flex;
  gap: 8px;
  padding-bottom: 17px;
}

.encriptador-abajo_botones{
  display: flex;
  gap: 8px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .encriptador{
    width: 90%;
    padding-left: 0;
    padding-top: 5%;
  }
}

@media screen and (max-width: 430px) {
  .encriptador-input textarea{
    max-height: 160px;
  }

  .encriptador-abajo_botones{
    flex-direction: column;
  }
}

/* Respuesta */

.respuesta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}

.respuesta-container{
  border-radius: 32px;
  padding: 18px;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.respuesta-container2{
  border-radius: 32px;
  padding: 18px;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.respuesta-container2_texto{
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  overflow-y: auto;
  overflow-wrap: anywhere;
  margin-bottom: 20px;
}

.textoRespuesta2{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;
}

.respuesta-container_content{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.respuesta-container_content h2{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 16px;
  color: #343A40;
}

.respuesta-container_content p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;
}

.respuesta-container_content-img{
  max-width: 80%;
  padding-bottom: 30px;
}

.respuesta-container_content img{
  width: 100%;
  object-fit: contain;
}

.respuesta-container_boton{
  display: flex;
  height: 10%;
  width: 100%;
  padding-bottom: 3%;
  flex-direction: column;
  justify-content: flex-end;
}

.respuesta-container_boton button{
  padding: 5% 10%;
}

@media screen and (max-width: 768px) {
  .respuesta{
    margin-top: 7%;
    height: 30%;
    width: 90%;
  }

  .respuesta-container_content-img{
    display: none;
  }
}